body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    position: relative;
}

.row {
    width: 100%;
}

.hilightColor {
    color: #007bb6;
    font-size: 1.5em;
}

.hilightColor2 {
    color: #007bb6;
    font-size: 1.2em;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #33ade6;
    font-weight: bold;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
}

.resentProjects {
    margin-top: 50px;
    text-align: center;
}

.icon {
    background: #007bb6;
}

.icon2 {
    color: #fff;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.navbar-nav>li {
    display: inline-block;
    float: none;
    margin-right: 20px;
}

.whatDo {
    text-align: center;
}

.whatDo p {
    margin-top: 10px;
}

.content {
    padding-bottom: 10px;
}

.page-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: #999;
}

.page-header {
    height: 80px;
    margin: auto;
    line-height: 80px;
}

.page-header span {
    font-size: 1.5em;
    vertical-align: middle;
}

.box2 {
    height: 250px;
    width: 100%;
}

.box2 img {
    object-fit: cover;
}

#cf1 {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#cf1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#cf1 img.top {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

.header-line {
    height: 10px;
    background: #007bb6;
}

#f1_container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#f1_container {
    perspective: 1000;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #212529;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.face.back {
    border-radius: 10px;
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #212529;
}

.tag {
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0px;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: #FFFFFF;
    text-align: center;
    backface-visibility: hidden;
}

.tag-noRound {
    position: absolute;
    bottom: 0px;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: #FFFFFF;
    text-align: center;
    backface-visibility: hidden;
}

.tag-noRound span {
    font-size: 0.7em;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

/* gallery */

.gallery {
    margin-bottom: 10px;
}

.gallery a {
    float: left;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.gallery a img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition-property: width, height;
    /* nurodome kurias savybes reikia keisti */
    -webkit-transition-duration: 300ms;
    /* nurodome, su kokia sparta reikia grąžinti vaizdą į pradinę padėtį */
    -moz-transition-property: width, height;
    -moz-transition-duration: 300ms;
    -o-transition-property: width, height;
    -o-transition-duration: 300ms;
    transition-property: width, height;
    transition-duration: 300ms;
    opacity: 1;
    /* darome skaidrumą dėl grožio*/
    position: relative;
    cursor: pointer;
}

.hori {
    height: 50%;
    width: 100%;
}

.verti {
    height: 100%;
    width: 100%;
}

.gallery .tag-noRound {
    top: 100%;
    position: absolute;
    transition: all .3s ease-out;
    height: 100%;
}

.gallery a:focus .tag-noRound {
    top: 0;
}

.gallery a:after {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #eaeaea;
    font-family: "Trebuchet MS";
    font-size: 16px;
    opacity: 0.7;
}

.gallery a:focus img {
    width: 100%;
    /* iki tokio dydžio didiname vaizdą */
    height: 100%;
    position: relative;
    opacity: 0.7;
    /* skaidrumas tampa nereikalingu */
    z-index: 1;
    /* kad vaizdas persisuktu virš visų atvaizdų */
    -webkit-transition-property: width, height;
    /* darome atvaizdo judėjimą*/
    -webkit-transition-duration: 2s;
    /* nurodome kokia sparta mums reikia padidinti atvaizdą */
    -webkit-transition-delay: 0.3s;
    /* kiek ilgai naršyklė galvos kol išskleis atvaizdą */
    -moz-transition-property: width, height;
    -moz-transition-duration: 2s;
    -moz-transition-delay: 0.3s;
    -o-transition-property: width, height;
    -o-transition-duration: 2s;
    -o-transition-delay: 0.3s;
    transition-property: width, height;
    transition-duration: 2s;
    transition-delay: 0.3s;
    cursor: default;
}

.gallery a:nth-child(4n+4) img, a:nth-child(4n+3) img {
    right: 0;
}

.about {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.skills {
    text-align: center;
}

.about p {
    text-align: justify;
}

.about img {
    border: 5px solid #007bb6;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto
}

.skill {
    position: relative;
    height: 100%;
    margin-bottom: 5px;
}

.bubble-text {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    text-align: left;
}

.bubble-full {
    float: right;
    vertical-align: middle;
    margin-right: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #007bb6;
}

.bubble-empty {
    margin-right: 2px;
    float: right;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: 1px solid #007bb6;
}

.year {
    font-weight: bold;
}

.featured img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

article p {
    text-align: justify;
}

article header {
    margin-top: 20px;
}

article header h2{
    color: #007bb6;
    font-weight: bold;
}

article header p {
    font-weight: bold;
}