@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter";
  color: var(--main-color);
}

footer,
.badge {
  font-family: "Roboto", sans-serif !important;
}

.footer {
  align-items: center;
  max-width: 720px;
}

.card img {
  max-height: 175px;
  object-fit: cover;
}

.project {
  flex-direction: row;
  align-items: center;
  max-width: 720px;
  margin-bottom: 50px;
}

.game-jams-big {
  flex-direction: row;
  align-items: center;
  max-width: 720px;
  margin-bottom: 50px;
}

.game-jams-small {
  flex-direction: row;
  align-items: center;
  max-width: 720px;
  margin-bottom: 50px;
}

.project img {
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  height: 100%;
}

.game-jam {
  flex-direction: row;
  align-items: center;
  max-width: 720px;
  margin-top: 24px;
}

.game-jam img {
  max-height: 200px;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  width: 30%;
  height: 80%;
}

ul {
  list-style: none;
}

h1 {
  margin-top: 73px;
  margin-bottom: 50px;
  text-align: center;
}

#about {
  margin-bottom: 50px;
}
