@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

body {
  font-family: "Concert One", cursive;
  color: var(--main-color);
}

footer,
.badge {
  font-family: "Roboto", sans-serif !important;
}

.card img {
  max-height: 175px;
  object-fit: cover;
}

.project {
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  margin-bottom: 50px;
}

.project img {
  max-height: 400px;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  width: 50%;
  height: 100%;
}

#contacts .card {
  border: none;
}
