@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  width: 1600px;
  background: #ffffff;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

ul {
  padding: 0;
}

header {
  height: 95px;
  padding-bottom: 135px;
}

nav {
  background-color: black;
  color: white;
  height: inherit;
}

nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

nav li {
  display: inline-block;
  margin: 0 50px 0 50px;
}

nav li a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

#active {
  opacity: 1;
  border-bottom: 1px solid #ffffff;
}

nav li a:hover {
  opacity: 1;
}

h1 {
  display: inline;
}

#logo {
  width: 44px;
  vertical-align: middle;
}

#life {
  color: white;
  text-align: center;
  height: 744px;
  background-image: url("assets/bg-image.png");
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

#life p {
  margin: auto;
  width: 504px;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}

#life button {
  margin-top: 30px;
}

.btn-main {
  flex-direction: row;
  align-items: center;
  padding: 15px 47px;
  position: relative;
  height: 46px;
  background: #00afdb;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  line-height: 16px;
  outline: none;
  margin-top: 30px;
}

.btn-main:hover {
  background: #009cc2;
}

ul.socials {
  margin-top: 183px;
  margin-bottom: 0px;
}

.socials li {
  display: inline;
  padding: 0 15px 0 15px;
}

ul.socials li a {
  text-decoration: none;
}

ul.socials li svg:hover {
  opacity: 0.8;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #373737;
  margin: 0;
}

.body-14-reg {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4e4e4e;
  margin-top: 20px;
  margin-bottom: 0;
}

#rappresent {
  height: 842px;
}

.content-block {
  display: flex;
  align-items: center;
  margin: auto;
  width: 66.375%;
}

.content-block-text {
  width: 407px;
}

#implement {
  height: 842px;
}

#community {
  height: 504px;
  background: #f5f6f7;
  display: flex;
  align-items: center;
}

.user-card {
  width: 298px;
  margin-left: 269px;
  margin-right: 139px;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: -10px;
}

.slider-items {
  width: 894px;
  float: left;
  overflow: auto;
  white-space: nowrap;
  overflow-x: hidden;
}

.slider-item {
  display: inline-block;
  margin-right: 30px;
}

.slider-nav-items {
  text-align: right;
  margin-right: 269px;
  color: #373737;
  font-size: 18px;
  margin-bottom: 10px;
}

.arrow {
  margin-left: 15.34px;
  margin-right: 15.34px;
}

.arrow:hover {
  opacity: 0.5;
}

#signup {
  height: 524px;
  background-image: url("assets/sign-up-image-1.png");
  text-align: center;
}

#signup h2 {
  color: white;
  padding-top: 200px;
  margin-bottom: 30px;
}

.subscribe-field {
  width: 340px;
  height: 46px;
  color: #373737, 100%;
  border: none;
  padding: 0;
  outline: none;
  margin: 0;
  padding-left: 24px;
}

.subscribe-button {
  height: 46px;
  width: 66px;
  background-color: #00afdb;
  border: none;
  padding: 0;
  outline: none;
  margin: 0;
}

.subscribe-button:hover {
  background-color: #009cc2;
}

#download {
  height: 464px;
  text-align: center;
}

#download h2 {
  padding-top: 120px;
}

#download p {
  width: 480px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-store {
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 46px;
  background: #00afdb;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  line-height: 16px;
  outline: none;
  padding: 0;
  width: 187px;
}

.btn-store:hover {
  background: #009cc2;
}

.store {
  display: inline;
}

.store-icon {
  height: 46px;
  width: 59px;
  background-color: #009cc2;
  float: right;
}

.btn-store span {
  line-height: 46px;
}

footer {
  height: 185px;
  text-align: center;
  background-color: #000;
  color: white;
}

footer ul li {
  display: inline;
}

footer ul {
  margin: 0;
}

footer p {
  margin-right: 160px;
  margin-top: 0;
}

.footer-nav {
  margin-left: 160px;
}

.footer-logo {
  width: 100px;
  margin: auto;
  padding-top: 13px;
}

.seperator {
  margin-right: 20px;
  margin-left: 20px;
}

.middle-footer {
  line-height: 185px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  opacity: 0.5;
}
