<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vilmantas Jakniūnas</title>
  <link rel="stylesheet" href="./assets/css/main.css" type="text/css" />
</head>

<body>
  <h1>Vilmantas Jakniūnas' Webpage</h1>
  <section id="about">
    <h2>About</h2>
    <p>
      Welcome to my page. My name is Vilmantas Jakniūnas, known online as
      Vilmokas.<br />I make games, code, draw, paint and sleep.
    </p>
    <ul class="socials">
      <li>
        <a href="mailto:vilmokas.jobs@gmail.com" target="_blank">email</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/vilmokas/" target="_blank">linkedin</a>
      </li>
      <li>
        <a href="https://github.com/Vilmokas" target="_blank">github</a>
      </li>
      <li>
        <a href="https://instagram.com/Vilmokas" target="_blank">instagram</a>
      </li>
    </ul>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    {% for project in projects %}
    <article>
      <img src="./assets/images/covers/{{ project.image }}" alt="cover image for project" />
      <h4>{{ project.title }}</h4>
      <p>{{ project.subtitle }}</p>
      <p>{{ project.description }}</p>
      <ul class="links">
        <li>
          <a href="{{ project.demo }}" target="_blank">demo</a>
        </li>
        <li>
          <a href="{{ project.code }}" target="_blank">code</a>
        </li>
      </ul>
    </article>
    {% endfor %}
    <br>
  </section>

  <section id="gamejams">
    <h2>Game Jams</h2>
    <h3>Latest</h3>

    {% for gamejam in gamejams[:3] %}
    <article>
      <img src="./assets/images/covers/{{ gamejam.image }}" alt="cover image of game jam project" />
      <h4>{{ gamejam.title }}</h4>
      <p>{{ gamejam.subtitle }}</p>
      <ul class="links">
        {% if gamejam.demo %}
        <li>
          <a href="{{ gamejam.demo }}" target="_blank">demo</a>
        </li>
        {% endif %}
        {% if gamejam.code %}
        <li>
          <a href="{{ gamejam.code }}" target="_blank">code</a>
        </li>
        {% endif %}
      </ul>
    </article>
    <br>
    {% endfor %}

    <h3>Other</h3>

    <ul>
      {% for gamejam in gamejams[3:] %}
      <li>{{ gamejam.subtitle }} - {{ gamejam.title }} |
        {% if gamejam.demo %}
        <a href="{{ gamejam.demo }}" target="_blank">demo</a>
          {% if gamejam.code %}
          ; 
          {% endif %}
        {% endif %}
        {% if gamejam.code %}
        <a href="{{ gamejam.code }}" target="_blank">code</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>

  <footer>
    <hr>
    <p>2019-2025 Vilmantas Jakniūnas</p>
    <ul class="socials">
      <li>
        <a href="mailto:vilmokas.jobs@gmail.com" target="_blank">email</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/vilmokas/" target="_blank">linkedin</a>
      </li>
      <li>
        <a href="https://github.com/Vilmokas" target="_blank">github</a>
      </li>
      <li>
        <a href="https://instagram.com/Vilmokas" target="_blank">instagram</a>
      </li>
    </ul>
  </footer>
</body>

</html>
